@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*CSS For HTML Background*/
html{
    background: #F6F6F7;
}

body{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 442px;
    height: 581px;
    margin-top: 80px;
    margin-bottom: auto;
    opacity: 0px;
    background: #FFFFFF;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

body > header >h1{
    font-family: 'Inter',sans-serif;
    font-size: 21.08px;
    font-weight: 700;
    line-height: 25.51px;
    text-align: center;
    color: #FF6B82;
    margin: 0px;
    margin-top: 28px;
}
/*CSS For Offer*/
.offer {
    display: flex;
    width: 342px !important;
    height: 74px;
    gap: 0px;
    opacity: 0px;
    border-radius: 12px;
    border: 1px solid rgba(167, 167, 167, 0.25);
    margin-top: 20px;
}

.offer:hover{
    cursor: pointer;
}
#offer-1 > #dataForm1{
    position: relative;
    font-family: 'Inter',sans-serif;
    font-size: 9.94px;
    font-weight: 400;
    line-height: 12.03px;
    text-align: left;
    margin-left: 55px;
    width: max-content;
    display: none;
}

#offer-2 > #dataForm2 {
    position: relative;
    font-family: 'Inter',sans-serif;
    font-size: 9.94px;
    font-weight: 400;
    line-height: 12.03px;
    text-align: left;
    margin-left: 55px;
    width: max-content;
    display: none;
}
#offer-2:hover{
    display: flex;
    flex-direction: column;
    border: 1px solid #FF6B82;
    padding: 5px;
}
#offer-1:hover{
    display: flex;
    flex-direction: column;
    border: 1px solid #FF6B82;
    padding: 5px;
}
.offer-banner {
    background-color: #FF6B82;
    height: 74px !important;
    margin-top: 0px;
    width: 70px;
    border-top-left-radius: inherit;
    border-top-right-radius: none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: none;
    color: #FFFFFF;
}

#O, #text, #typography {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: center;
    position: relative;
    top: 20px;
}

#typography {
    font-size: 16px;
    font-weight: 600;
    line-height: 16.35px;
} 
/* CSS For Input*/
input[type="radio"]{
    appearance: none; /* Remove default styling */
    width: 14.46px;
    height: 14.46px;
    margin-top: 30px;
    margin-left: 14px;
    gap: 0px;
    border: 0.9px solid #FF6B82;
    opacity: 0px;
    border-radius: 50%;
    background-color: white;
}

input[type="radio"]:checked{
    appearance: none; /* Remove default styling */
    cursor: pointer;
    width: 14.46px;
    height: 14.46px;
    outline: 1px solid #FF6B82;
    outline-offset:2px;
    background-color: #FF6B82;
}

input[type="radio"]:hover{
    appearance: none; /* Remove default styling */
    cursor: pointer;
    width: 14.46px;
    height: 14.46px;
    outline: 1px solid #FF6B82;
    outline-offset:2px;
    background-color: #FF6B82;    
}

#selection{
    display: flex;
}

#selection > #info{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    margin-left: 17.77px;
    gap: 6px;
}

#selection > #info > p{
    margin: 0px 0px 0px 0px;
}

#info > p:first-child{
    font-family: 'Inter',sans-serif;
    font-size: 14.46px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: left;
}

#info > p:last-child{
    font-family: 'Inter',sans-serif;
    font-size: 14.46px;
    font-weight: 600;
    line-height: 17.5px;
    text-align: left;
}
/*CSS For Article*/
#article{
    width: 342px;
    height: 172px;
    background-color: rgb(255, 107, 130,0.1);
    margin-top: 20px;
    border: 1px solid #FF6B82;
    border-radius: 20px;   
}
#article:hover{
    cursor: pointer;
}

#most-popular{
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-align: left;
    color: #FF6B82;
    margin-top: 30px;
    margin-left: 31px;
}

#checkout-off{
    font-family: 'Inter',sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center; 
    background-color: #FF6B82;
    width: max-content;
    color: #F6F6F7;
    padding: 1px 4px 1px 4px;
    border-radius: 2px;    

}

#strike-through{
    font-family: 'Inter',sans-serif;
    font-size: 9.94px;
    font-weight: 400;
    line-height: 12.03px;
    text-align: left;
    text-decoration: line-through;
    opacity: 0.42;
}

.article-selection{
    display: flex;
}

.article-selection > #info {
    margin-top: 20px;
    margin-left: 20px;
}

.article-selection > #info > p{
    margin: 0px;
}
/*CSS For Form Data and Table Selection*/
#dataForm{
    position: relative;
    font-family: 'Inter',sans-serif;
    font-size: 9.94px;
    font-weight: 400;
    line-height: 12.03px;
    text-align: left;
    margin-left: 55px;
    width: max-content;
}

td > select{
    width: 72.3px;
    height: 25.31px;
    top: 346.05px;
    left: 178.44px;
    gap: 0px;
    border-radius: 1.81px 0px 0px 0px;
    border: 0.9px 0px 0px 0px;
    text-align: center;
}


thead th{
    font-family: 'Inter',sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    padding: 8px 12px;
}
/*CSS For Displaying Final Cost*/
#total{
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 127px;
}

#total > p:first-child{
    color: rgba(255, 107, 130, 1);
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
}

#total > p:last-child{
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
}
#total > p:last-child > span{
    font-family: 'Inter',sans-serif;
    font-size: 14px;


    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
}

button{
    width: 342px;
    height: 40px;
    color: white;
    background: rgba(255, 107, 130, 1);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}
#add{
    font-size: 18px;
}
button > span{
    font-size: 14px;
    margin-left: 10px;
}
/*CSS For Footer*/
footer{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(212, 212, 212, 1);
    margin-top: 10px;
}

footer > span{
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-align: left;
    color: rgba(255, 44, 49, 1);
    cursor: pointer;
}